*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Rubik';
 /*   width: 100%;*/
}

header{
    background-color: rgb(17, 5, 66);
    border: 1px;
    height:50px ;
}

body{
    
    /* Esto está sin usar*/
    font-family: 'Palette Mosaic', cursive;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: normal;    
    align-items: center;
    font-family: 'Rubik', cursive;
    font-weight: bold;
}

.menu{
    width: 87%;
    justify-content: flex-end;

}
.image1{
    
    padding-top: .4em;
    padding-right: .4em;
}

.Titulo{
    color: blanchedalmond;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Rubik', cursive;
    font-weight: bold;
}

div{
    display: flex;
    width:100%;
}

section{
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: beige;
    height: 100%;
    width: 100%;
    padding-bottom: .3em;
    font-family: 'Hurricane', cursive;
    font-weight: bold;
    font-size: .8rem;
    
}

footer{
    height:100px ;
    padding-top: .7em;
    padding-bottom: .7em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: normal;    
    align-items: center;
    background-color: darkseagreen;
    clear: both;
}


h1,h2{
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
}

.fa-brands {
    width: 50px; 
    padding-top: 0em;
    padding-right: 0em;
    margin-bottom: 0em;
}

p{
    font-family: 'Arial Narrow';
    font-size: 1em;
}

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto ; /* repeat(12,2fr);/*12 columnas de 1fr(una fraccion) son del mismo tamaño*/
    grid-template-rows: repeat(6,50px);
    /* grid-template-rows: 100px 150px 300px;*//*Valor para la 1 columna 100px, la 2 150px y la 3 200px*/
    
    gap: 1px 1px;/*espacio entre columnas y filas*/
    
      /*grid-template-columns: 30% 70%; */
    background-color: rgba(20, 19, 19, 0.8);
    padding: 0  px;

  }

  .grid-item-text {
    grid-column: 1;
    background-color: rgba(20, 19, 19, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /*justify-content: center;*/
    align-items: center;
    color: blanchedalmond;
  }

  .grid-item-form {
    grid-column: 2;
    background-color: rgba(20, 19, 19, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 20px;
    justify-items: left;
    align-items: center;
    color: blanchedalmond;
  }

  .grid-item-text2 {
    grid-column: 3;
    background-color: rgba(20, 19, 19, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    align-items: center;
    color: blanchedalmond;
  }
 
  .grid-item-form2 {
    grid-column-start: 4;
    background-color: rgba(20, 19, 19, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 20px;
    align-items: center;
    color: blanchedalmond;
  }

  
  form{
    display: block;
    
    margin-top: 1em;
    margin-block-end: 1em;
    border: rgba(45, 153, 117, 0.8);
    border-width: 2px;
  }
 
  input[type=text] {
    width: 300px;
    min-height: 2em;
    border: 2px solid red;
    border-radius: 4px;
  }

  input[type=number] {
    width: 300px;
    min-height: 2em;
    border: 2px solid red;
    border-radius: 4px;
  }
  input[type=email] {
    width: 300px;
    min-height: 2em;
    border: 2px solid red;
    border-radius: 4px;
  }

/* Customize the label (the container) */
.mycheckboxes {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.mycheckboxes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.mycheckboxes:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.mycheckboxes input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.mycheckboxes input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



@media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }