*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
}

header{
    background-color: rgb(17, 5, 66);
    border: 1px;
    height:50px ;
}

body{
    
    /* Esto está sin usar*/
    font-family: 'Palette Mosaic', cursive;
    text-align: center;
}

nav{
    background-color: hwb(170 66% 9%);
    padding: 0px;
    width: 100%;
    height: 100%;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.image1{
    
    float: left;
    padding-top: .4em;
    padding-right: .4em;
           
}

a{
color: blanchedalmond;
display: inline-block;
vertical-align: middle;
margin-top: 5px;
margin-left: 10px;
padding: .5em;
border-radius: 1em;
background-color: rgb(49, 49, 236);
text-decoration: none;
font-size: 9 em;
font-family: 'Rubik', cursive;
font-weight: bold;
}

section{
    z-index: 2;
    display: block;
    position: relative;
    background-color: beige;
    /*float: left;*/ 
    height: 100%;
    width: 100%;
    padding: 0px;
    /*background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
    font-family: 'Hurricane', cursive;
    font-weight: bold;
 /*   font-family: 'Palette Mosaic', cursive;*/
}

aside{
    z-index: 1;
    background-color: beige;
    float: left;
    position: fixed; 
    top: 200px;
    height: 360px;
    width: 300px;
    margin-left: 1em;
    padding: 1em;
    border: 2px solid black;
    color: black;
    text-align: justify;
    font-family: 'Hurricane', cursive;
    font-weight: bold;
    /*font-family: 'Palette Mosaic', cursive;
    font-size: x-large;*/
    
}


footer{
    
    background-color: darkseagreen;
    clear: both;
}

div{
    
    width:100%;
    color: black;
    font-family: 'Hurricane', cursive;
    font-weight: bold;
}


h1,h2{
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
}

#seccion1{
    background-color: chartreuse;
}
article{
    background-color: darkcyan;
}
p{
    font-family: 'Arial Narrow';
    font-size: 1em;


}
.Titulo{
    color: blanchedalmond;
    float: left ;
    padding-top: 1em;
    vertical-align: middle;
    font-family: 'Rubik', cursive;
    font-weight: bold;
}
